# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
Thumbs.db
.DS_Store

# Logs
logs/*.log


# Reports
reports/*.csv
reports/*.html

# Ignore generated logs
logs/*.generated.log


__pycache__/
*.py[cod]

.venv/

__pycache__/

*.pyc

.coverage

htmlcov/

reports/*.csv

logs/application.log

.vscode/